@import "tailwindcss";
@import "tw-animate-css";

:root{
  --font-primary: 'Open Sans', sans-serif;

  --color-blue-base: #2C46B1;
  --color-blue-dark: #2C4091;

  --color-white: #FFFFFF;

  --color-gray-100: #F9F9FB;
  --color-gray-200: #E4E6EC;
  --color-gray-300: #CDCFD5;
  --color-gray-400: #74798B;
  --color-gray-500: #4D505C;   
  --color-gray-600: #1F2025;

  --color-danger: #B12C4D;

  --radius: 0.625rem;

}

@layer utilities{
  .font-primary{
    font-family: var(--font-primary);
  }

  .text-xxs {
    font-size: 0.625rem; /* 10px */
  }

  /* Background-colors */
  .bg-color-white{
    background-color: var(--color-white);
  }
  .bg-color-blue-base{
    background-color: var(--color-blue-base);
  }
  .bg-color-blue-dark{
    background-color: var(--color-blue-dark);
  }
  .bg-color-gray-100{
    background-color: var(--color-gray-100);
  }
  .bg-color-gray-200{
    background-color: var(--color-gray-200);
  }
  .bg-color-gray-300{
    background-color: var(--color-gray-300);
  }
  .bg-color-gray-400{
    background-color: var(--color-gray-400);
  }
  .bg-color-gray-500{
    background-color: var(--color-gray-500);
  }
  .bg-color-gray-600{
    background-color: var(--color-gray-600);
  }
  .bg-color-danger{
    background-color: var(--color-danger);
  }

  /* Border-color */
  .border-color-gray-200{
    border-color: var(--color-gray-200);
  }
  .border-color-gray-300{
    border-color: var(--color-gray-300);
  }
  .border-color-blue-base{
    border-color: var(--color-blue-base);
  }
  .border-color-blue-dark{
    border-color: var(--color-blue-dark);
  }
  .border-color-danger{
    border-color: var(--color-danger);
  }

  /* Text-color */
  .text-color-white{
    color: var(--color-white);
  }

  .text-color-gray-100{
    color: var(--color-gray-100);
  }
  .text-color-gray-200{
    color: var(--color-gray-200);
  }
  .text-color-gray-300{
    color: var(--color-gray-300);
  }
  .text-color-gray-400{
    color: var(--color-gray-400);
  }
  .text-color-gray-500{
    color: var(--color-gray-500);
  }
  .text-color-gray-600{
    color: var(--color-gray-600);
  }
  .text-color-blue-base{
    color: var(--color-blue-base);
  }
  .text-color-danger{
    color: var(--color-danger);
  }

  /* Focus-within:border-color */
  .focus-within\:border-color-blue-base:focus-within {
    border-color: var(--color-blue-base);
  }

  .focus-within\:border-color-danger:focus-within {
    border-color: var(--color-danger);
  }

  /* Hover:bg-color */
  .hover\:bg-color-blue-dark:hover{
    background-color: var(--color-blue-dark);
  }

  .hover\:bg-color-gray-300:hover{
    background-color: var(--color-gray-300);
  }

}